<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.handyman_android_app">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Handymanandroidapp">
        <activity android:name=".p_edit_response"></activity>
        <activity android:name=".p_view_response" />
        <activity android:name=".p_view_request" />
<!--        <activity android:name=".p_make_response" />-->
        <activity android:name=".loginActivity" />
        <activity android:name=".signupActivity" />
        <activity
            android:name=".p_make_response"
            android:label="@string/app_name"
            android:theme="@style/Theme.Handymanandroidapp.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>